.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

#filled-basic {
  color: #fff;
}

#filter {
  margin-left: 40px;
}

@media only screen and (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  #filter {
    margin-top: 30px;
  }
}
